.form-control{
    border-radius: 3px;
    width: 500px;
    margin-left: 20px;
}
.search-icon{
    position: absolute;
    z-index: 10;
    right: 30%;
    top: 20px;
    color: blue;
}
.btn-primary{
    background: transparent;
    
}
.fa-shopping-cart{
    padding: 0px 21px;
    font-size: 29px;
    
}

.bg-danger{
position: absolute;
top:11px;
right:30px;
padding: 4px 8px;

}